<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/configuracion']">
        <ion-icon src="assets/icon/settings-outline.svg" slot="icon-only"></ion-icon>
        
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-cita-aleatoria></app-cita-aleatoria>
</ion-content>


<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/agregar']">
      <ion-icon src="assets/icon/add-outline.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

